.App {
  text-align: center;
  /* padding: 2rem; */
}

.App-header {
  background-color: #000;
}

.login-form {
  background-image: url(./homeimg.JPG);
  background-size: cover;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
}

 .welcome {
   margin: 14px;
   font-family: "Karla";
   padding: 12px;
   border-radius: 20px;
   background-color: #d5d4d8;
   color: #000;
 }

.Btn {
  margin: 10px;
  display: inline-block;
  background-color: #007bff;
  border: none;
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
  padding: 0.75rem 1.5rem;
  margin-right: 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.Btn:hover {
  background-color: #0069d9;
}

.img {
  max-width: 100%;
  margin-top: 2rem;
}

@media (min-width: 768px) {

  .welcome {
      margin: 14px;
      font-family: "Karla";
      padding: 12px;
      border-radius: 20px;
      background-color: #d5d4d8;
      color: #000;
    }

  .Btn {
    font-size: 1.25rem;
    padding: 1rem 2rem;
    margin-right: 2rem;
    margin: 10px;
  }
}